header {
    height: 100px;
    background-color: cornflowerblue;
}

main {
    display: flex;
}

article {
    height: 400px;
    width: 75%;
    background-color: darksalmon;
}

aside {
    height: 400px;
    width: 25%;
    background-color: khaki;
}

.images {
    display: flex;
    justify-content: space-between;
}

.image {
    background-color: lightseagreen;
    width: 33%;
    min-height: 200px;
}

footer {
    height: 100px;
    background-color: plum;
}